/* Start Body */
body {
  color: #24292e;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
/* End Body */

/* Start Debug */
  .bg-blue {
    background-color: blue;
  }

  .bg-red {
    background-color: red;
  }
/* End Debug */
/* Start Container */
.container {
  margin: 10 px auto;
  overflow: auto;
  width: 90%;
}
/* End Container */